<%- include('header') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Please input your information below</h1>
    </div>

    <form method="post" action="/processform">
      Name: <input type="text" name="name"> <br>
      Age: <input type="text" name="age"> <br>
      Height (in cm): <input type="text" name="height"> <br>
      Weight (in kg): <input type="text" name="weight">

      <div class="form-group">
        <label for="exampleFormControlSelect1">Gender:</label>
        <select class="form-control form-control-sm" id="exampleFormControlSelect1">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>

      <button type="submit" class="btn btn-warning">Submit</button>
    </form>

<%- include('footer') -%>
