<%- include('header') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Please input your information below</h1>
    </div>

    <form method="post" action="/processform">
      Name: <input type="text" name="name"> <br>
      Age: <input type="text" name="age" id="age"> <br>
      Height (in cm): <input type="text" name="height" id="height" value="cm"> <br>
      Weight (in kg): <input type="text" name="weight" id="weight">

      <div class="form-group">
        <label for="exampleFormControlSelect1">Gender:</label>
        <select class="form-control form-control-sm" id="exampleFormControlSelect1">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>

      <% if (loggedIn) { %>
      <button type="submit" class="btn btn-warning">Submit</button>
      <% } else { %>
        You must be logged in to submit form info.
        <% } %>

    </form>
  
    <hr>
    <h1> Calculate your BMR </h1>
        <button onClick="calc()">I'm a girl</button>
          <script>
            function calc(){
              var A = document.getElementById('age')
              var H = document.getElementById('height')
              var W = document.getElementById('weight')
              var BMR = document.getElementById('BMR')

              BMR.value = 665+(9.6*W.value)+(1.8*H.value)-(4.7*A.value)
        }
        </script>
        <button onClick="calc()">I'm a boy</button>
          <script>
            function calc(){
              var A = document.getElementById('age')
              var H = document.getElementById('height')
              var W = document.getElementById('weight')
              var BMR = document.getElementById('BMR')

              BMR.value = 66+(13.7*W.value)+(5*H.value)-(6.8*A.value)
        }
        </script>


<%- include('footer') -%>
