<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Calorie Track</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline">
    <button class="btn btn-outline-danger" type="button">Intake + </button>
    <button class="btn btn-outline-success" type="button">Consumption - </button>
    <button class="btn btn-outline-primary" type="button">Diet tips</button>
    <button class="btn btn-outline-primary" type="button">Recommended food</button>
    <button class="btn btn-outline-info" type="button">APP information</button>

  </form>
</nav>
