<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Calorie Track</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline">
    <button class="btn btn-outline-danger" type="button">Intake + </button>
    <button class="btn btn-outline-success" type="button">Consumption - </button>
    <button class="btn btn-outline-primary" type="button">Diet tips</button>
    <button class="btn btn-outline-primary" type="button">Recommended food</button>
    <button class="btn btn-outline-info" type="button">APP information</button>

    <li class="nav-item">
      <a class="nav-link" href="showComments">showComments</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profiles
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profiles">Show Profiles</a>
                <a class="dropdown-item" href="/profile">My Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/editProfile">Update Profile</a>
              </div>
    </li>

    <% if (loggedIn) { %>
 <li class="nav-item">
   <a class="nav-link active" href="/logout"> Logout</a>
 </li>
 <% } else { %>
   <li class="nav-item">
     <a class="nav-link active" href="/auth/google"> Login</a>
   </li>
   <% }  %>

  </form>
</nav>
